<header>
    <app-menu #menu [hidden]="menu.hide('forms')">
    </app-menu>
</header>
<!--<body>
    <form>
        <div>
            <label for="modelo">Gadget</label>
            <input type="text" id="modelo" class="form-control">
        </div>
        
        <div>
           <label for="marca">Brand</label>
            <input type="text" id="marca" class="form-control">
        </div>
    
        <div>
            <label for="serial">Serial Number</label>
             <input type="text" id="serial" class="form-control">
         </div>
 using mask
         <div>
            <label for="coverage">Coverage</label>
             <input type="text" id="coverage" class="form-control" placeholder="dd/mm/yyyy"
             onkeyup="
                 var v = this.value;
                 if (v.match(/^\d{2}$/) !== null) {
                     this.value = v + '/';
                 } else if (v.match(/^\d{2}\/\d{2}$/) !== null) {
                     this.value = v + '/';
                 }"
             maxlength="10">
         </div>
       
        <div>
            <button class="btn btn-success" type="submit" style="background-color: #1D72DB;">Cadastrar</button>
        </div>
    </form>
    <div>
      {{this.hideMenu}}
    </div>
</body>
<app-footer></app-footer> -->

<body>
  <div style="width: 1512px; height: 982px; position: relative; background: white">
    <div style="left: 595px; top: 889px; position: absolute; justify-content: flex-start; align-items: flex-start; gap: 4px; display: inline-flex">
      <div style="padding-left: 16px; padding-right: 16px; padding-top: 12px; padding-bottom: 12px; background: white; border-radius: 4px; border: 1px #E9ECEF solid; justify-content: flex-start; align-items: flex-start; display: flex">
        <div style="text-align: center; color: #ADB5BD; font-size: 16px; font-family: Inter; font-weight: 400; line-height: 16px; word-wrap: break-word">Prev</div>
      </div>
      <div style="padding-left: 16px; padding-right: 16px; padding-top: 12px; padding-bottom: 12px; background: #1D72DB; border-radius: 4px; border: 1px #1D72DB solid; justify-content: flex-start; align-items: flex-start; display: flex">
        <div style="text-align: center; color: white; font-size: 16px; font-family: Inter; font-weight: 400; line-height: 16px; word-wrap: break-word">1</div>
      </div>
      <div style="padding-left: 16px; padding-right: 16px; padding-top: 12px; padding-bottom: 12px; background: white; border-radius: 4px; border: 1px #E9ECEF solid; justify-content: flex-start; align-items: flex-start; display: flex">
        <div style="text-align: center; color: #6C757D; font-size: 16px; font-family: Inter; font-weight: 400; line-height: 16px; word-wrap: break-word">2</div>
      </div>
      <div style="padding-left: 16px; padding-right: 16px; padding-top: 12px; padding-bottom: 12px; background: white; border-radius: 4px; border: 1px #E9ECEF solid; justify-content: flex-start; align-items: flex-start; display: flex">
        <div style="text-align: center; color: #6C757D; font-size: 16px; font-family: Inter; font-weight: 400; line-height: 16px; word-wrap: break-word">3</div>
      </div>
      <div style="padding-left: 16px; padding-right: 16px; padding-top: 12px; padding-bottom: 12px; background: white; border-radius: 4px; border: 1px #E9ECEF solid; justify-content: flex-start; align-items: flex-start; display: flex">
        <div style="text-align: center; color: #6C757D; font-size: 16px; font-family: Inter; font-weight: 400; line-height: 16px; word-wrap: break-word">4</div>
      </div>
      <div style="padding-left: 16px; padding-right: 16px; padding-top: 12px; padding-bottom: 12px; background: white; border-radius: 4px; border: 1px #E9ECEF solid; justify-content: flex-start; align-items: flex-start; display: flex">
        <div style="text-align: center; color: #6C757D; font-size: 16px; font-family: Inter; font-weight: 400; line-height: 16px; word-wrap: break-word">Next</div>
      </div>
    </div>
    <div style="width: 1512px; height: 458px; left: 0px; top: 379px; position: absolute" [hidden]="this.isHideMenu">
      <div style="width: 1265px; height: 321px; left: 154px; top: 137px; position: absolute">
        <div style="width: 1265px; height: 78.64px; left: 0px; top: 80.25px; position: absolute; background: #F8F9FA"></div>
        <div style="width: 1265px; height: 78.64px; left: 0px; top: 240.75px; position: absolute; background: #F8F9FA"></div>
        <div style="width: 12.54px; height: 30.50px; left: 22.79px; top: 24.08px; position: absolute; color: #303842; font-size: 16px; font-family: Inter; font-weight: 800; word-wrap: break-word">#</div>
        <div style="width: 9.12px; height: 30.50px; left: 22.79px; top: 105.93px; position: absolute; color: #303842; font-size: 16px; font-family: Inter; font-weight: 800; word-wrap: break-word">1</div>
        <div style="width: 81.09px; height: 41px; left: 197.48px; top: 100px; position: absolute; color: #303842; font-size: 16px; font-family: Inter; font-weight: 400; line-height: 28px; word-wrap: break-word">iPhone 6</div>
        <div style="width: 51.52px; height: 44px; left: 433.11px; top: 100px; position: absolute; color: #303842; font-size: 16px; font-family: Inter; font-weight: 400; line-height: 28px; word-wrap: break-word">Apple</div>
        <div style="width: 55.84px; height: 44.94px; left: 757.86px; top: 99.51px; position: absolute; color: #303842; font-size: 16px; font-family: Inter; font-weight: 400; line-height: 28px; word-wrap: break-word">1ABC</div>
        <div style="width: 86.81px; height: 45px; left: 1025.55px; top: 100px; position: absolute; color: #303842; font-size: 16px; font-family: Inter; font-weight: 400; line-height: 28px; word-wrap: break-word">12-10-2014</div>
        <div style="width: 86.81px; height: 45px; left: 1025.55px; top: 178px; position: absolute; color: #303842; font-size: 16px; font-family: Inter; font-weight: 400; line-height: 28px; word-wrap: break-word">12-10-2014</div>
        <div style="width: 86.81px; height: 45px; left: 1025.55px; top: 254px; position: absolute; color: #303842; font-size: 16px; font-family: Inter; font-weight: 400; line-height: 28px; word-wrap: break-word">12-10-2014</div>
        <div style="width: 85.86px; height: 45px; left: 200.34px; top: 178px; position: absolute; color: #303842; font-size: 16px; font-family: Inter; font-weight: 400; line-height: 28px; word-wrap: break-word">Galaxy 5A</div>
        <div style="width: 79.77px; height: 44.94px; left: 433.06px; top: 178.15px; position: absolute; color: #303842; font-size: 16px; font-family: Inter; font-weight: 400; line-height: 28px; word-wrap: break-word">Samsung</div>
        <div style="width: 41.03px; height: 44.94px; left: 757.86px; top: 178.15px; position: absolute; color: #303842; font-size: 16px; font-family: Inter; font-weight: 400; line-height: 28px; word-wrap: break-word">2CDE</div>
        <div style="width: 70.60px; height: 45px; left: 200.34px; top: 254px; position: absolute; color: #303842; font-size: 16px; font-family: Inter; font-weight: 400; line-height: 28px; word-wrap: break-word">Pixel Fold</div>
        <div style="width: 68.38px; height: 44.94px; left: 433.06px; top: 253.59px; position: absolute; color: #303842; font-size: 16px; font-family: Inter; font-weight: 400; line-height: 28px; word-wrap: break-word">Google</div>
        <div style="width: 74.08px; height: 44.94px; left: 757.86px; top: 253.59px; position: absolute; color: #303842; font-size: 16px; font-family: Inter; font-weight: 400; line-height: 28px; word-wrap: break-word">3EFG</div>
        <div style="width: 12.54px; height: 30.50px; left: 22.79px; top: 184.57px; position: absolute; color: #303842; font-size: 16px; font-family: Inter; font-weight: 800; word-wrap: break-word">2</div>
        <div style="width: 12.54px; height: 30.50px; left: 22.79px; top: 260.01px; position: absolute; color: #303842; font-size: 16px; font-family: Inter; font-weight: 800; word-wrap: break-word">3</div>
        <div style="width: 76.32px; height: 31px; left: 200.34px; top: 26px; position: absolute; color: #303842; font-size: 16px; font-family: Inter; font-weight: 800; word-wrap: break-word">Gadget</div>
        <div style="width: 68.69px; height: 31px; left: 433.11px; top: 25px; position: absolute; color: #303842; font-size: 16px; font-family: Inter; font-weight: 800; word-wrap: break-word">Brand</div>
        <div style="width: 119.25px; height: 32px; left: 735.53px; top: 24px; position: absolute; color: #303842; font-size: 16px; font-family: Inter; font-weight: 800; word-wrap: break-word">Serial Number</div>
        <div style="width: 119.25px; height: 32px; left: 993.11px; top: 24px; position: absolute; color: #303842; font-size: 16px; font-family: Inter; font-weight: 800; word-wrap: break-word">Coverage</div>
        <div style="width: 1265px; height: 0px; left: 0px; top: 0px; position: absolute; border: 1px #DEE2E6 solid"></div>
        <div style="width: 1265px; height: 0px; left: 0px; top: 160.50px; position: absolute; border: 1px #DEE2E6 solid"></div>
        <div style="width: 1265px; height: 0px; left: 0px; top: 240.75px; position: absolute; border: 1px #DEE2E6 solid"></div>
        <div style="width: 1265px; height: 0px; left: 0px; top: 321px; position: absolute; border: 1px #DEE2E6 solid"></div>
        <div style="width: 1265px; height: 0px; left: 0px; top: 80.25px; position: absolute; border: 2px #DEE2E6 solid"></div>
      </div>
      <div style="width: 1512px; height: 112px; left: 0px; top: 0px; position: absolute; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: inline-flex">
        <div style="align-self: stretch; height: 112px; padding-left: 162px; padding-right: 162px; padding-top: 32px; padding-bottom: 32px; background: white; border-bottom: 1px #DEE2E6 dotted; flex-direction: column; justify-content: center; align-items: flex-start; display: flex">
          <div style="flex-direction: column; justify-content: flex-start; align-items: center; display: flex">
            <div style="color: #343A40; font-size: 40px; font-family: Inter; font-weight: 700; word-wrap: break-word">Gadgets List</div>
          </div>
        </div>
      </div>
    </div>
    <div style="width: 1512px; height: 250px; left: 0px; top: 77px; position: absolute">
      <div style="width: 240px; height: 38px; left: 243px; top: 131px; position: absolute; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 6px; display: inline-flex">
        <div style="align-self: stretch; padding-left: 16px; padding-right: 16px; padding-top: 9px; padding-bottom: 9px; background: white; border-radius: 6px; border: 1px #DEE2E6 solid; justify-content: flex-start; align-items: center; gap: 8px; display: inline-flex">
          <div style="flex: 1 1 0; color: #ADB5BD; font-size: 16px; font-family: Inter; font-weight: 400; line-height: 20px; word-wrap: break-word">Gadget Model</div>
        </div>
      </div>
      <div style="width: 240px; height: 38px; left: 505px; top: 131px; position: absolute; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 6px; display: inline-flex">
        <div style="align-self: stretch; padding-left: 16px; padding-right: 16px; padding-top: 9px; padding-bottom: 9px; background: white; border-radius: 6px; border: 1px #DEE2E6 solid; justify-content: flex-start; align-items: center; gap: 8px; display: inline-flex">
          <div style="flex: 1 1 0; color: #ADB5BD; font-size: 16px; font-family: Inter; font-weight: 400; line-height: 20px; word-wrap: break-word">Brand</div>
        </div>
      </div>
      <div style="width: 240px; height: 38px; left: 767px; top: 131px; position: absolute; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 6px; display: inline-flex">
        <div style="align-self: stretch; padding-left: 16px; padding-right: 16px; padding-top: 9px; padding-bottom: 9px; background: white; border-radius: 6px; border: 1px #DEE2E6 solid; justify-content: flex-start; align-items: center; gap: 8px; display: inline-flex">
          <div style="flex: 1 1 0; color: #ADB5BD; font-size: 16px; font-family: Inter; font-weight: 400; line-height: 20px; word-wrap: break-word">Serial Number</div>
        </div>
      </div>
      <div style="width: 240px; height: 38px; left: 1029px; top: 131px; position: absolute; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 6px; display: inline-flex">
        <div style="align-self: stretch; padding-left: 16px; padding-right: 16px; padding-top: 9px; padding-bottom: 9px; background: white; border-radius: 6px; border: 1px #DEE2E6 solid; justify-content: flex-start; align-items: center; gap: 8px; display: inline-flex">
          <div style="flex: 1 1 0; color: #ADB5BD; font-size: 16px; font-family: Inter; font-weight: 400; line-height: 20px; word-wrap: break-word">Coverage</div>
        </div>
      </div>
      <div style="width: 80px; height: 50px; padding-left: 24px; padding-right: 24px; padding-top: 16px; padding-bottom: 16px; left: 1189px; top: 200px; position: absolute; background: #1D72DB; border-radius: 6px; justify-content: flex-start; align-items: flex-start; gap: 8px; display: inline-flex">
        <div style="color: white; font-size: 16px; font-family: Inter; font-weight: 600; line-height: 18px; word-wrap: break-word">Add</div>
      </div>
      <div style="width: 1512px; height: 94px; left: 0px; top: 0px; position: absolute; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: inline-flex">
        <div style="align-self: stretch; height: 112px; padding-left: 162px; padding-right: 162px; padding-top: 32px; padding-bottom: 32px; background: white; border-bottom: 1px #DEE2E6 dotted; flex-direction: column; justify-content: center; align-items: flex-start; display: flex">
          <div style="flex-direction: column; justify-content: flex-start; align-items: center; display: flex">
            <div style="color: #343A40; font-size: 40px; font-family: Inter; font-weight: 700; word-wrap: break-word">Gadgets Registration</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
<div>

</div>
<app-footer></app-footer>